{% macro nav(logo_img="", title="", xy=[]) -%}
<nav class="navbar bg-body-tertiary main-menu">
    <div class="container-fluid">
        {% if logo_img %}
        <!-- (X) f-string -->
        <!-- <img src="{# { url_for('static', filename=f'img/{logo_img}') } #}" -->
        <img src="/static/img/{{logo_img}}"
            alt="Logo" width="{{xy[0]}}" height="{{xy[1]}}" 
            class="d-inline-block align-text-top" />
        {% endif %}
            {{title}}
    </div>
</nav>

<style>
    .main-menu {
        background-color: white !important;
        margin-bottom: 30px;
    }
</style>
{%- endmacro %}